


.MenuBar{
  display: flex; 
  height: 100vh; 
  position: fixed;
  margin-bottom: 30px;
  left: 0px;
  top: 60px;
  /* resize: both; */
}

.sidebar {
  background-color: black;
}

.sidebar .collapsed{
  width: 80px;
  min-width: 80px;
}

.sidebar2 {
  background-color: black;
  
}
.CommunityBar {
  display: flex;
  height: 60vh;
  position: fixed;
  right:0px;
} 

.sidebar-heading {
  margin-top: 3px;
  margin-bottom: 50px;
  font-size: 30px;  
}

.sidebar-button{
  position:absolute;
  right: 0px;
  bottom: 550px;
  
}

.Post-Image{
  position:absolute;   
  top: 0px;
  resize: both;
  left: 250px;
  width: 720px;
  height: 300px;
}

.Post{
  position: relative;
  margin-bottom: 30px;
  padding-top: 300px;
  padding-bottom: 50px;
}

.Posts{
  position:relative;
}


